[submodule "github-specification"]
	path = github-specification
	url = git@github.com:hibikon/github-specification.git
[submodule "python-specification"]
	path = python-specification
	url = git@github.com:hibikon/python-specification.git
[submodule "java-specification"]
	path = java-specification
	url = git@github.com:hibikon/java-specification.git
